@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/nicomoji.css);
@import url(//fonts.googleapis.com/earlyaccess/nikukyu.css);
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Pacifico&family=Zen+Maru+Gothic:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/futura-pt');


/* root tags */
:root{
	--main-color: #0B0933;
	--alt-color: #dbd06a;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

html, body{
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

/* -------------------------------------   SCROLLBAR  --------------------------------------*/
::-webkit-scrollbar {
  width: 4px; 
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: var(--alt-color);
}


/* -------------------------------------   First section (title) --------------------------------------*/
.section1 {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	height: 100%;
	cursor: none;
}

.section1-content {
  text-align: center;
  margin-bottom: 20px;
}

.section1 h1 {
  margin: 0;
	font-size: 90px;
	letter-spacing: 3px;
	font-weight: 800;
}

.section1 .subtitle {
  font-size: 19px;
  color: #f0efef;
  text-align: left;
  margin-left: 5px;
	width: 80%;
	white-space: nowrap;
	font-weight: 300;
	height: 30%;
}

.cursor{
	position: fixed;
	width: 35px;
	height: 35px;
	margin-left: -20px;
	margin-top: -20px;
	border-radius: 50%;
	border: 2px solid var(--alt-color);
	transition: transform .3s ease;
	transform-origin: center center;
	pointer-events: none;
	z-index: 1000;
	display: block;
}

.grow, .grow-small{
	transform: scale(5);
	background: #fff;
	mix-blend-mode: difference;
	border: none;
	-webkit-transform: scale(5);
	-moz-transform: scale(5);
	-ms-transform: scale(5);
	-o-transform: scale(5);
}
.grow-small{
	transform: scale(2.5);
	-webkit-transform: scale(2.5);
	-moz-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-o-transform: scale(2.5);
}

.quote-template {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
	white-space: nowrap;
}

.quote-text {
  font-size: 18px;
  color: #fff;
}

.jap-text{
	font-family: 'Nikukyu', cursive;
	font-weight: 500; 
	color: var(--alt-color);
	letter-spacing: 8px;
}

@media screen and (max-width: 767px) {
	.section1 h1 {
		font-size: 40px;
		letter-spacing: 1px;
	}
	.section1 .subtitle {
		font-size: 14px;
		margin-left: 1px;
	}
	.cursor{
		display: none;
	}
	.section1{
		cursor: pointer;
	}
	.quote-text{
		font-size: 13px;
	}
}



/* -------------------------------------   Second section (about) --------------------------------------*/
.section2 {
  position: relative;
  background-color: var(--alt-color);
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  overflow: hidden;
	height: 350px;
	clip-path: polygon(0 0%, 100% 0, 100% 85%, 0 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container,
.section2-content {
  top: 0;
}

.container .image-container {
  margin-right: 20px;
}

.image-container {
  width: 311px;
	position: relative;
}

.image-container img {
	width: 75%;
	border: 2px solid var(--main-color);
}


.container .section2-content {
  flex: 1;
}

.section2 h2 {
  margin-top: 0;
  text-align: left;
  font-size: 30px;
	color: var(--main-color);
}

.section2 p {
  margin-bottom: 0;
  font-size: 18px;
	text-align: left;
	font-weight: 500;
	word-wrap: break;
	white-space: pre-line;
}

.section2-content h2{
	margin-bottom: 0px;
	font-weight: 900;
}

.section2-content p{
	margin-top: 0px;
	font-family: 'Futura PT', sans-serif;
}

.pfpquote {
  margin-top: 20px;
	margin-left: 20%;
  text-align: center;
}

.pfpquote-text {
  font-size: 14px !important;
  color: #000;
}

.highlight {
  color: var(--main-color);
  font-weight: 800;
}


.resume-button {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: transparent;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
  transition: background-color 0.3s ease;
  overflow: hidden;
  position: relative;
  float: left;
  width: fit-content;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.resume-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: left 0.3s ease;
	z-index: -1;
}

.resume-button:hover::before {
  left: 0;
}

.resume-button:hover {
  background-color: black;
  color: white;
}

/* Media queries for mobile */
@media screen and (max-width: 767px) {
  .section2 {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 35px;
    padding-bottom: 35px;
    clip-path: none;
  }

  .section2::before {
    display: none; /* Hide the diagonal shape on mobile */
  }

  .container .image-container {
    margin-bottom: 30px;
  }

  .section2-content {
    margin-top: 35px;
    padding: 20px; /* Add padding to create space between the text and the box edges */
  }

  .section2-content h2 {
    justify-content: center;
    text-align: center;
    margin-top: 0; /* Reset the margin-top */
		margin-bottom: 20px;
  }

  .section2-content p {
    font-size: 18px;
    text-align: left;
    word-wrap: break-word; /* Allow long words to break */
    white-space: normal;
    width: 100%;
		margin-top: 20px;
  }

	.pfpquote{
		justify-content: center;
		align-items: center;
	}
}


/* -------------------------------------   Second section (about) --------------------------------------*/
.section3 {
  position: relative;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
}

.section3 h2 {
  margin-top: 0;
  font-size: 30px;
  color: var(--main-color);
	font-weight: 900;
}

.tech-stack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-item img {
  width: 50px;
  height: 50px;
}

.tech-item i {
  font-size: 40px;
  color: var(--main-color);
  margin-bottom: 10px;
}

.tech-item span {
  font-size: 16px;
	font-weight: 600;
}

@media screen and (max-width: 767px) {
  .tech-stack {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* -------------------------------------   FOURTH SECTION (PROJECTS) --------------------------------------*/
.section4 {
  position: relative;
  background-color: var(--alt-color);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  height: 100%;
  clip-path: polygon(0 0, 100% 10%, 100% 95%, 0 80%);
}

.title {
  position: relative;
  top: 50px;
  font-weight: 900;
  color: var(--main-color);
  letter-spacing: 0.6em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
  padding: 50px;
}

.grid-item {
  position: relative;
  color: black;
  padding: 35px;
  border: 1px solid rgba(0, 0, 0, 0.116);
}

.grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(    to bottom right,    rgba(0, 0, 0, 0.6) 0%,    rgba(0, 0, 0, 0) 100%  );
  /*Adjusttheimagepath*/background-size: cover;
  background-position: center;
  opacity: 0.1;
  /*Reducetheopacityofthebackgroundimage*/box-shadow: 0 0 250px rgb(0, 0, 0) inset;
  transition: filter 0.3s ease, opacity 0.3s ease;
  -webkit-transition: filter 0.3s ease, opacity 0.3s ease;
  -moz-transition: filter 0.3s ease, opacity 0.3s ease;
  -ms-transition: filter 0.3s ease, opacity 0.3s ease;
  -o-transition: filter 0.3s ease, opacity 0.3s ease;
}

.grid-item:hover::before {
  filter: brightness(1.2);
  opacity: 0.25;
}

.grid-item:nth-child(1)::before {
  background-image: url("./images/project/nikke.jpg"); /*  first grid item */
}

.grid-item:nth-child(2)::before {
  background-image: url("./images/project/rvb.png"); /*  second grid item */
}

.grid-item:nth-child(3)::before {
  background-image: url("./images/project/duplicates.jpg"); /*  third grid item */
}

.grid-item:nth-child(4)::before {
  background-image: url("./images/project/runcool.png") /*  fourth grid item */
}

.grid-item:nth-child(5)::before {
  background-image: url("./images/project/aquarium.png"); /* fifth grid item */
}

.grid-item.large {
  grid-column: span 2;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project-content h3 {
  text-align: left;
  font-size: 20px;
  font-weight: 800;
  opacity: 1;
}

.project-content p {
  text-align: left;
  font-weight: 600;
  opacity: 1;
}

.github-button {
  align-self: flex-start;
}



/* Media Query for mobile devices */
@media screen and (max-width: 767px) {
  .section4{
    clip-path: none;
  }

  .section4 h2{
    position: static;
    margin-top: 0;
  }
  .grid-container {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .grid-item.large {
    grid-column: initial;
  }
  .grid-item {
    padding: 30px;
  }
}



/* -------------------------------------   FADE IN ELEMENTS --------------------------------------*/
.section2,
.section3,
.section4{
  opacity: 0;
  transition: opacity 1.5s ease-out;
  -webkit-transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -ms-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
}

.section2.fade-in,
.section3.fade-in,
.section4.fade-in{
  opacity: 1;
}