html {
  overflow-y: scroll;
}

body {
  height: 100%;
  margin: 10%;
  overflow: hidden;
  cursor: url(./images/cursor1.png);
  background: linear-gradient(to bottom, #392c4b, #4b2438);
}
/* body::-webkit-scrollbar {
  background-color: rgba(247, 96, 114, 1);
  width: 5px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(247, 96, 114, 1);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(252, 190, 203, 1);
} */

.container {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.main-image{
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 1;
  
}

.border{
  position: inherit;
  margin-left: auto;
  margin-right: auto;
  animation: spin 35s infinite linear;
}
@keyframes spin { 
  100% { 
    transform: rotateZ(360deg); 
  }
}

