@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
  overflow-y: scroll;
}

body {
  /* margin: 10%; */
  overflow: hidden;
  cursor: url(./images/cursor1.png), default;
  background: linear-gradient(to bottom, #57466e, #4b2438);
}
/* ------------------------- scroll bar --------------------- */
body::-webkit-scrollbar {
  background-color: rgba(247, 96, 114, 1);
  width: 5px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(247, 96, 114, 1);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(252, 190, 203, 1);
}

/* ------------------------------ Header Bar----------------------------------- */
.logo{
  width: 100px;
  cursor: pointer;
}
li, a, button{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  /* text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out; */
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav-links{
  list-style: none;
}
.nav-links li{
  display: inline-block;
  padding: 0 25px;
}

.nav_links li, a{
  transition: all 0.3s ease 0s;
}

.nav_links li, a:hover{
  color:rgba(247, 96, 114, 1)
}

button{
  background-color:  rgba(252, 190, 203, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(247, 96, 114, 0.4);
}

/* ------------------------------Yae Image----------------------------------------- */
.container {
  text-align: center;
  overflow: hidden;
}

.main-image{
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  position: absolute;
  z-index: 1;
  
}

.border{
  /* margin-left: auto;
  margin-right: auto; */
  position: relative;
  animation: spin 35s infinite linear;
}
@keyframes spin { 
  100% { 
    transform: rotateZ(360deg); 
  }
}




